.uptime-header {
	margin: 0 auto;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 2px;
}
.uptime-header-button {
	cursor: pointer;
	height: 40px;
	min-height: 40px;
	max-height: 40px;
	width: 80px;
	min-width: auto;
	max-width: none;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.uptime-header-button-left {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.uptime-header-button-right {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.uptime-header-button-center {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.uptime-header-button-active {
	background-color: var(--color-accent);
}

.uptime-container {
	display: flex;
	flex-direction: row;
	gap: 16px;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}
.uptime-group {
	display: inline-block;
	flex: 1;
	min-width: 300px;
}
.uptime-group + .uptime-group {
	margin-left: 16px;
}
.uptime-box {
	display: grid;
	grid-gap: 4px;
	grid-template-columns: auto 1fr;
	height: auto;
	padding: 0;
	min-width: 300px;
}
.uptime-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
}
.uptime-row-label {
	font-size: var(--input-size-label);
	text-align: right;
	min-width: 60px;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: end;
	margin-top: 8px;
}
.uptime-row-label::after {
	content: ':';
	margin-right: 4px;
	margin-left: 2px;
}
.uptime-row-value {
	overflow-wrap: break-word;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	margin-top: 8px;
	flex: 1;
}
.uptime-row-value input,
.uptime-row-value select,
.uptime-row-value textarea {
	width: 100% !important;
	min-width: 100% !important;
	max-width: 100% !important;
}

.uptime-row-span {
	grid-column: span 2;
}
.uptime-row-note {
	grid-column: span 2;
	font-size: var(--font-size-xsm);
	color: var(--color-muted);
	text-align: right;
	font-style: italic;
}

/* Table */
.uptime-table {
	display: table;
	width: auto;
	min-width: none;
	max-width: 100%;
	border-collapse: collapse;
}
.uptime-table-header {
	display: table-header-group;
}
.uptime-table-body {
	display: table-row-group;
}
.uptime-table-row {
	display: table-row;
}
.uptime-table-cell {
	display: table-cell;
	padding: 4px 8px;
	text-align: left;
	font-size: var(--font-size-sm);
	border: var(--border);
	justify-content: start;
	vertical-align: middle;
}
.uptime-table-header .uptime-table-cell {
	font-size: var(--font-size);
	text-align: center;
}
.uptime-table-row:nth-child(odd) {
	background-color: var(--theme-dark-offset);
}

/* Misc. */
.bracket-button-view {
	width: 30px;
	min-width: 30px;
	max-width: 30px;
	height: 24px;
	min-height: 24px;
	max-height: 24px;
	margin: 0;
	padding: 0;
	margin-top: 4px;
	background-size: 80%;
	background-image: url(../assets/images/eye-white.png);
	background-repeat: no-repeat;
	background-position: center;
}

.uptime-break {
	display: block;
	height: 1px;
	width: 100%;
	margin: 0 0 1px 0;
}
.uptime-break-top {
	margin-top: 24px;
	border-top: 2px solid var(--color-accent);
}

.uptime-log-row {
	padding: 4px;
}
.uptime-log-row:nth-child(even) {
	background-color: var(--theme-dark-offset);
}

.uptime-member-add {
}
.uptime-member-add:hover {
	cursor: pointer;
	text-decoration: underline;
}
.uptime-online {
	color: green;
	font-weight: bold;
}
.uptime-offline {
	color: red;
	font-weight: bold;
}
